*{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 }

 .cabecera{
    background-color: #555A60;
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    min-width: 960px;
}

.image{
    vertical-align: middle;
    text-align: left;
    margin-right: 30%;
    
}

.precio{
    text-align: left;

}
.boton{
    text-align: center;
    align-items: right;
    background-color: #3C4044;
    color: white;
    border: 3px solid black;
    border-radius: 4px;
    margin-top: 4.5%;
    font-size: 55px;
    cursor: pointer;
    width: 230px;
    

}
.busqueda{
    display: grid;
    grid-template-columns: 100%;
    
}

.button{
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    cursor: pointer;
}

.text5{
    font-size: large;

}
.button.active{
    background: #ea0000;
    color: #fff;

}
.provincia{
    display: grid;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 10px;
    min-width: 600px;
    text-align: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    grid-template-columns: 100%;
}

.text4{
    font-size: 60px;

}


.slider{
  -webkit-appearance: none;
  height: 10px;
  width: 150px;
  margin-right: 1px;
  border-radius: 2px;
  color: blue;
  background: #555A60;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity 0.2;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 15px;
    background: black;
    cursor: pointer;
  }

.boxed{
    padding-top: 1%;
    padding-left: 1%;
    background-color: #EFEFEF;
    border: 2px solid BLACK;
    width: 100%;
    height: 100px;
    border-radius: 3px;

}

.linea{
    border: dashed black;
    height: 3px;
    color: black;
    background-color: black;
    border-width: auto;
    display: block;
    width: 100%;

}

.search{
    background-color: lightgray;
    border: 2px solid BLACK;
    width: 40%;
    height: 375px;
    min-height: 375px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding-right: 1.5%;
    padding-left: 1%;
    padding-bottom: 30px;
    text-align: center;
    border-radius: 4px;
}

.text1{
    vertical-align: middle;
    display: inline;
    font-size: 500%;
    color: white;
   
}
.mapas{
    background-color: #3C4044;
    display: grid;
    height: 29%;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;
    border-top:yellowgreen;
    padding: 1%;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
}


.text2{
    color: white;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 2%;

}

.text3{
    color: white;


}

.contenedor{
    display: block;
    text-align: center;
}

iframe{
    padding-top: 1%;
    width: 60%;
    height: 100%;
    border: 3px;
    text-align: center;
}

.valor {
    display: inline-block;
    position: relative;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #555A60;
    padding: 5px 10px;
    margin-left: 3px;
    color: white;
    width: 40px;
    margin-right: 2%;
}

.radio{
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: solid 2px #ccc;
    transition: all 0.3s;
}

.toggle-radio{
    margin-bottom: 2%;
}
  
.toggle-radio input[type="radio"] {
    display: none;
}

.toggle-radio label{
    background: lightgray;
    padding: 6px;
    cursor: pointer;
    border: 4px solid black;
    border-radius: 3px;
    font-size: 45px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.toggle-radio input[type = "radio"]:checked + label{
    background: #555A60;
    color:white;
}
  