*{
   margin: 0px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.cabecera{
    background-color: #555A60;
    padding-left: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    min-width: 960px;
}

.image{
    vertical-align: middle;
    text-align: left;
    margin-right: 30%;
    
}

.text1{
    vertical-align: middle;
    display: inline;
    font-size: 500%;
    color: white;
   
}

.login{
    background-color: lightgray;
    border: 2px solid BLACK;
    width: 30%;
    min-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    text-align: center;
    border-radius: 4px;
}

.datos{
    color: black;
    width: 70%;
    height: 10%;

    }

.info{
    display: grid;
    gap: 2px;
    grid-template-columns: 30% 70%;
}

.info1{
    text-align: left;
    min-width: 80%;
}



.mapas{
    background-color: #3C4044;
    display: grid;
    height: 29%;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    justify-content: center;
    border-top:yellowgreen;
    padding: 1%;
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
}

.text2{
    color: white;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 2%;

}

.text3{
    color: white;


}

.text4{
    color: black;
    margin: auto;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.text5{
    text-align: left;
    font-size: larger;
    font-weight: bold;
}
.contenedor{
    display: block;
    text-align: center;
}

iframe{
    padding-top: 1%;
    width: 60%;
    height: 100%;
    border: 3px;
    text-align: center;
}
