*{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 
 .cabecera{
     
     background-color: #555A60;
     padding-left: 20%;
     padding-top: 1%;
     padding-bottom: 1%;
     min-width: 100%;
     position: fixed;
     overflow: hidden;
 }
 
 .piso{
     display: grid;
     grid-template-columns: 30% 70%;
     margin: auto;
     gap: 4px;
     width: fit-content;
     text-align: left;
     border: 4px black solid;
     margin-bottom: 200px;
     min-height: 425px;
     height: 40  0px;
     width: 80%;
     border-radius: 4px;
     background:linear-gradient(#798088,#555a60);
 }
 
 .bd{
     display: inline-block;
     
     margin-right: 3%;
     border: black 2px solid;
     background-color: lightgray;
     color: black;
     font-size: x-large;
     padding:4px;
     border-radius: 4px;
 }
 
 .arrow{
     margin-top: 50px;
     height: 250px;
     width: 100px;
     border: 0.01px;
     border-width: 450px 450px 450px 450px;
     padding: 10px;
     display: inherit;
     position: relative;
     cursor: pointer;
     
     
 }

 .tabla{
     grid-template-columns: 0% 100% 0%;
    display:grid;
 }
 
 .left{
     left: 15px;
     top: 30px;
     visibility: hidden;
     width:20px;
 }
 
 .right{
     top: 25px;
     right: 135px;
     visibility: visible;
     width:20px;
 }
 .datoss{
     padding:3px;
     color: white;
     text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
     display: inline-block;
     font-size:x-large;
     margin-top: 1.5%;
     margin-bottom: 2%;
     margin-right: 1.5%;
     
     }
 
 .iconos{
     display: inline;
     vertical-align: middle;
     color: white;
     height: 50px;
 }
 
 .imagenes{
     text-align: left;
     height: 425px;
     
     max-width: 85%;
     border-right: solid 4px black;
 
 }
 .espaciado{
     margin-bottom: 150px;
 }
 .image{
     vertical-align: middle;
     text-align: left;
     margin-right: 24.2%;
     
 }
 
 .text1{
     vertical-align: middle;
     display: inline;
     font-size: 500%;
     color: white;
    
 }
 
 .login{
     background-color: lightgray;
     border: 2px solid BLACK;
     width: 30%;
     margin-top: -10px;
     min-width: 450px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 2%;
     padding-right: 2%;
     padding-left: 2%;
     padding-bottom: 1%;
     text-align: center;
     border-radius: 4px;
 }
 
 .datos{
     color: black;
     width: 70%;
     height: 10%;
 
     }
 
 .info{
     display: grid;
     gap: 2px;
     grid-template-columns: 30% 70%;
 }
 
 .info1{
     text-align: left;
     min-width: 80%;
 }
 
 
 
 .mapas{
     background-color: #3C4044;
     display: grid;
     height: 29%;
     grid-template-columns: 33% 33% 33%;
     align-items: center;
     justify-content: center;
     border-top:yellowgreen;
     padding: 1%;
     position: fixed;
     bottom: 0;
     left:0;
     right: 0;
 }
 
 .text2{
     color: white;
     font-weight: bolder;
     font-size: x-large;
     padding-left: 2%;
 
 }
 
 .text3{
     color: white;
 
 
 }
 
 .text4{
     color: black;
     margin: auto;
     text-align: center;
     font-size: xx-large;
     font-weight: bolder;
 }
 
 .text5{
     text-align: left;
     font-size: larger;
     font-weight: bold;
 }
 .contenedor{
     display: block;
     text-align: center;
 }
 
 iframe{
     padding-top: 1%;
     width: 60%;
     height: 100%;
     border: 3px;
     text-align: center;
 }
 
